<form autocomplete="off" [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <div class="p-fluid grid" style="margin-bottom: -1em; margin-top: 0%">
    <div class="col-1 col-offset-10">
      <button
        pButton
        type="submit"
        label="Salvar"
        [loading]="loading"
        class="ui-button-success"
        style="display: inline-block"
        [disabled]="!auth.hasAnyPermission([wsPermissions.ROLE_CONFIG_CHANGE])"
      ></button>
    </div>

    <div class="col-1">
      <button
        pButton
        type="button"
        label="Cancelar"
        (click)="reset()"
        class="p-button-secondary"
        style="display: inline-block"
      ></button>
    </div>
  </div>
</form>
