<div class="exception-body access">
  <div class="particle elem1 anim-delay1"></div>
  <div class="particle elem2 anim-delay5"></div>
  <div class="particle elem3 anim-delay3"></div>
  <div class="particle elem4 anim-delay8"></div>
  <div class="particle elem5 anim-delay9"></div>
  <div class="particle elem6 anim-delay2"></div>
  <div class="particle elem7 anim-delay4"></div>

  <div class="p-grid">
    <div class="p-col-12 logo-container">
      <img src="assets/layout/images/logo-manhattan.png" alt="manhattan-layout" />
    </div>
  </div>
  <div class="exception-panel">
    <div class="exception-panel-content">
      <h1>ACCESS</h1>
      <span class="secondary">DENIED</span>
      <div>
        <span><strong>You don't have the necessary permissons.</strong></span>
        <p>Better get back home and forget about that</p>
      </div>
    </div>

    <div class="exception-panel-footer">
      <button type="button" pButton label="Go To Dashboard" [routerLink]="['/']"></button>
    </div>
  </div>
</div>
