<div style="padding: 0 0 0 0rem">
  <p-table
    #table
    dataKey="id"
    [lazy]="true"
    [rowHover]="true"
    [filterDelay]="0"
    [responsive]="true"
    [value]="resources"
    [loading]="loading"
    sortMode="multiple"
    selectionMode="multiple"
    [(first)]="firstRecords"
    [metaKeySelection]="true"
    [rows]="itemsPerPageDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    (onRowSelect)="onRowSelect($event)"
    [exportHeader]="'customExportHeader'"
    [(selection)]="selectionMultipleTable"
    (onRowUnselect)="onRowUnselect($event)"
    (onLazyLoad)="whenSwitchingPage($event)"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [paginator]="totalRecords > 0 ? true : false"
    [currentPageReportTemplate]="currentPageReportTemplate()"
    styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          pRipple
          type="button"
          label="Inserir"
          (click)="openNew()"
          icon="pi pi-plus-circle"
          [disabled]="!auth.hasAnyPermission([wsPermissions.ROLE_VOUCHERS_CREATE])"
        ></button>

        <span class="p-input-icon-left ml-auto">
          <button
            pButton
            pRipple
            type="button"
            pTooltip="XLS"
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            tooltipPosition="bottom"
            class="p-button-success mr-2"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            pTooltip="PDF"
            icon="pi pi-file-pdf"
            (click)="exportPdf()"
            tooltipPosition="bottom"
            class="p-button-warning mr-2"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-filter"
            tooltipPosition="bottom"
            pTooltip="Selection Only"
            class="p-button-info ml-auto mr-8"
            (click)="exportExcelSelectionOnly()"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            label="Clear"
            (click)="clear(table)"
            icon="pi pi-filter-slash"
            class="p-button-outlined ml-auto"
          ></button>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="voucher" style="width: 11rem">
          <div class="flex p-jc-between p-ai-center">
            Voucher
            <p-sortIcon field="voucher"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="voucher"
              display="menu"
              class="ml-auto"
              matchMode="contains"
              [useGrouping]="false"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="client">
          <div class="flex p-jc-between p-ai-center">
            Cliente
            <p-sortIcon field="client"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="client"
              display="menu"
              class="ml-auto"
              matchMode="contains"
              [useGrouping]="false"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="promoter">
          <div class="flex p-jc-between p-ai-center">
            Promotor
            <p-sortIcon field="promoter"></p-sortIcon>
            <p-columnFilter
              display="menu"
              matchMode="in"
              class="ml-auto"
              field="promoter"
              [showOperator]="false"
              [showAddButton]="false"
              [showMatchModes]="false"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  optionLabel="name"
                  placeholder="Todos"
                  [options]="promoters"
                  (onChange)="filter($event.value)"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{ option.name }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template></p-columnFilter
            >
          </div>
        </th>

        <th pSortableColumn="visitDate" style="width: 10rem">
          <div class="flex p-jc-between p-ai-center">
            Visita
            <p-sortIcon field="visitDate"></p-sortIcon>
            <p-columnFilter
              type="date"
              display="menu"
              class="ml-auto"
              field="visitDate"
              matchMode="contains"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="totalPrice" style="width: 10rem">
          <div class="flex p-jc-between p-ai-center">
            Valor
            <p-sortIcon field="totalPrice"></p-sortIcon>
            <p-columnFilter
              type="numeric"
              display="menu"
              currency="BRL"
              class="ml-auto"
              field="totalPrice"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th style="width: 10rem" pSortableColumn="status">
          <div class="flex p-jc-between p-ai-center">
            Status
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter
              display="menu"
              matchMode="in"
              field="status"
              class="ml-auto"
              [showOperator]="false"
              [showAddButton]="false"
              [showMatchModes]="false"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect placeholder="Todos" [options]="statusVoucherEnum" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <span
                      [class]="
                        'customer-badge status-' + hasClassStyle.voucher(keyValueStatusVoucher.getValue(option.value))
                      "
                      >{{ option.label }}</span
                    >
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>

        <th style="width: 4.5rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-entry>
      <tr [pSelectableRow]="entry">
        <td>{{ entry.voucher }}</td>
        <td class="p-ellipsis">{{ entry.client.name }}</td>
        <td class="p-ellipsis">{{ entry.promoter.name }}</td>

        <td>{{ entry.visitDate | date : 'dd/MM/yyyy' }}</td>
        <td>{{ entry.totalPrice | currency : 'BRL' }}</td>
        <td style="text-align: center">
          <span [class]="'customer-badge status-' + hasClassStyle.voucher(entry.status)">{{
            setDescription.voucher(entry.status)
          }}</span>
        </td>

        <td class="text-center">
          <a
            pTooltip="Editar"
            tooltipPosition="top"
            style="padding: 0 0 0 0.5rem"
            (click)="editResource(entry)"
            [class]="!auth.hasAnyPermission([wsPermissions.ROLE_VOUCHERS_CHANGE]) ? 'p-disabled' : ''"
          >
            <i class="pi true-icon pi-user-edit"></i>
          </a>

          <a
            pTooltip="Excluir"
            tooltipPosition="top"
            style="padding: 0 0 0 0.5rem"
            (click)="deleteResource(entry.uuid)"
            [class]="canCancel(entry.status) ? 'p-disabled' : ''"
          >
            <i class="pi false-icon pi-times-circle"></i>
          </a>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10">Não há dados para ser exibido!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
