<div class="grid">
  <div class="col-12 lg:col-2" style="padding: 0 0 0 0rem">
    <p-panel>
      <p-table
        dataKey="value"
        selectionMode="single"
        [value]="typeProductEnum"
        [(selection)]="selectedProductType"
        (onRowSelect)="onRowSelectMenu($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-type>
          <tr [pSelectableRow]="type">
            <td>
              {{ type.label }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

  <div class="col-12 lg:col-10" style="padding: 0 0 0 0rem">
    <p-panel>
      <div>
        <p-table
          #table
          dataKey="id"
          [lazy]="true"
          [rowHover]="true"
          [filterDelay]="0"
          [responsive]="true"
          [value]="resources"
          [loading]="loading"
          sortMode="multiple"
          selectionMode="multiple"
          [(first)]="firstRecords"
          [metaKeySelection]="true"
          [rows]="itemsPerPageDefault"
          [totalRecords]="totalRecords"
          [showCurrentPageReport]="true"
          (onRowSelect)="onRowSelect($event)"
          [exportHeader]="'customExportHeader'"
          [(selection)]="selectionMultipleTable"
          (onRowUnselect)="onRowUnselect($event)"
          (onLazyLoad)="whenSwitchingPage($event)"
          [rowsPerPageOptions]="rowsPerPageOptions"
          [paginator]="totalRecords > 0 ? true : false"
          [currentPageReportTemplate]="currentPageReportTemplate()"
          styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <button
                pButton
                pRipple
                type="button"
                label="Inserir"
                (click)="openNew()"
                icon="pi pi-plus-circle"
                [disabled]="!auth.hasAnyPermission([wsPermissions.ROLE_PRODUCTS_CREATE])"
              ></button>

              <span class="p-input-icon-left ml-auto">
                <button
                  pButton
                  pRipple
                  type="button"
                  pTooltip="XLS"
                  icon="pi pi-file-excel"
                  (click)="exportExcel()"
                  tooltipPosition="bottom"
                  class="p-button-success mr-2"
                ></button>

                <button
                  pButton
                  pRipple
                  type="button"
                  pTooltip="PDF"
                  icon="pi pi-file-pdf"
                  (click)="exportPdf()"
                  tooltipPosition="bottom"
                  class="p-button-warning mr-2"
                ></button>

                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-filter"
                  tooltipPosition="bottom"
                  pTooltip="Selection Only"
                  class="p-button-info ml-auto mr-8"
                  (click)="exportExcelSelectionOnly()"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Clear"
                  (click)="clear(table)"
                  icon="pi pi-filter-slash"
                  class="p-button-outlined ml-auto"
                ></button>
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="flex p-jc-between p-ai-center">
                  Nome
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="name"
                    display="menu"
                    class="ml-auto"
                    matchMode="contains"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </th>

              <th pSortableColumn="initialValidate" style="width: 10rem">
                <div class="flex p-jc-between p-ai-center">
                  Inicial
                  <p-sortIcon field="initialValidate"></p-sortIcon>
                  <p-columnFilter
                    type="date"
                    display="menu"
                    class="ml-auto"
                    matchMode="contains"
                    [showOperator]="false"
                    field="initialValidate"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </th>

              <th pSortableColumn="finalValidate" style="width: 10rem">
                <div class="flex p-jc-between p-ai-center">
                  Final
                  <p-sortIcon field="finalValidate"></p-sortIcon>
                  <p-columnFilter
                    type="date"
                    display="menu"
                    class="ml-auto"
                    matchMode="contains"
                    field="finalValidate"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </th>

              <th pSortableColumn="amount" style="width: 10rem">
                <div class="flex p-jc-between p-ai-center">
                  Valor
                  <p-sortIcon field="amount"></p-sortIcon>
                  <p-columnFilter
                    type="numeric"
                    field="amount"
                    display="menu"
                    currency="BRL"
                    class="ml-auto"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </th>

              <th style="width: 10rem" pSortableColumn="status">
                <div class="flex p-jc-between p-ai-center">
                  Status
                  <p-sortIcon field="status"></p-sortIcon>
                  <p-columnFilter
                    display="menu"
                    field="status"
                    matchMode="in"
                    class="ml-auto"
                    [showOperator]="false"
                    [showAddButton]="false"
                    [showMatchModes]="false"
                  >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect placeholder="Todos" [options]="statusEnum" (onChange)="filter($event.value)">
                        <ng-template let-option pTemplate="item">
                          <span
                            [class]="
                              'customer-badge status-' + hasClassStyle.status(keyValueStatus.getValue(option.value))
                            "
                            >{{ option.label }}</span
                          >
                        </ng-template>
                      </p-multiSelect>
                    </ng-template>
                  </p-columnFilter>
                </div>
              </th>

              <th pSortableColumn="createdBy" style="width: 13rem">
                <div class="flex p-jc-between p-ai-center">
                  Usúario Cadastro
                  <p-sortIcon field="createdBy"></p-sortIcon>
                  <p-columnFilter
                    display="menu"
                    matchMode="in"
                    class="ml-auto"
                    field="createdBy"
                    [showOperator]="false"
                    [showAddButton]="false"
                    [showMatchModes]="false"
                  >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect
                        [options]="users"
                        optionLabel="name"
                        placeholder="Todos"
                        (onChange)="filter($event.value)"
                      >
                        <ng-template let-option pTemplate="item">
                          <div class="p-multiselect-representative-option">
                            <span class="p-ml-1">{{ option.name }}</span>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </ng-template></p-columnFilter
                  >
                </div>
              </th>

              <th style="width: 5.5rem"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-entry>
            <tr [pSelectableRow]="entry">
              <td class="p-ellipsis">{{ entry.name }}</td>

              <td>{{ entry.initialValidate | date : 'dd/MM/yyyy' }}</td>
              <td>{{ entry.finalValidate | date : 'dd/MM/yyyy' }}</td>
              <td>{{ entry.amount | currency : 'BRL' }}</td>

              <td style="text-align: center">
                <span [class]="'customer-badge status-' + hasClassStyle.status(entry.status)">{{
                  setDescription.status(entry.status)
                }}</span>
              </td>

              <td>{{ entry.createdBy?.name }}</td>

              <td class="text-center">
                <a
                  pTooltip="Dasativar"
                  tooltipPosition="top"
                  (click)="inactivateHandler(entry.id)"
                  [hidden]="entry.status === 'INACTIVE'"
                  [class]="!auth.hasAnyPermission([wsPermissions.ROLE_PRODUCTS_CHANGE]) ? 'p-disabled' : ''"
                >
                  <i class="pi pi-shield"></i>
                </a>

                <a
                  pTooltip="Ativar"
                  tooltipPosition="top"
                  (click)="activateHandler(entry.id)"
                  [hidden]="entry.status === 'ACTIVE'"
                  [class]="!auth.hasAnyPermission([wsPermissions.ROLE_PRODUCTS_CHANGE]) ? 'p-disabled' : ''"
                >
                  <i class="pi pi-check-circle"></i>
                </a>
                <a
                  pTooltip="Editar"
                  tooltipPosition="top"
                  style="padding: 0 0 0 0.5rem"
                  (click)="editResource(entry)"
                  [class]="!auth.hasAnyPermission([wsPermissions.ROLE_PRODUCTS_CHANGE]) ? 'p-disabled' : ''"
                >
                  <i class="pi true-icon pi-user-edit"></i>
                </a>

                <a
                  pTooltip="Excluir"
                  tooltipPosition="top"
                  style="padding: 0 0 0 0.5rem"
                  (click)="deleteResource(entry.id)"
                  [class]="!auth.hasAnyPermission([wsPermissions.ROLE_PRODUCTS_DELETE]) ? 'p-disabled' : ''"
                >
                  <i class="pi false-icon pi-times-circle"></i>
                </a>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">Não há dados para ser exibido!</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-panel>
  </div>
</div>
