$primaryColor: #F3904F;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#3B4371;
$sidebarTopEndBgColor:#F3904F;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#F3904F;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#F3EE4F;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#F0E0D6;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
