$primaryColor: #136A8A;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#136a8a;
$sidebarTopEndBgColor:#267871;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#2A92B8;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#FEB10F;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#ffffff;
$horizontalLayoutTopbarTextHoverColor:#ACDAEB;

@import '../../sass/layout/_layout';
