$primaryColor: #00B4DB;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#00B4DB;
$sidebarTopEndBgColor:#0083B0;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#00B4DB;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#F35F31;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#A7DCE7;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
