$primaryColor: #C06C84;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#6C5B7B;
$sidebarTopEndBgColor:#C06C84;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#C06C84;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#36C4B3;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#ffffff;
$horizontalLayoutTopbarTextHoverColor:#F3E0E6;

@import '../../sass/layout/_layout';
