$primaryColor: #4E54C8;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#4e54c8;
$sidebarTopEndBgColor:#8f94fb;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#8f94fb;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#FFC02F;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#CDCEEF;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
