$primaryColor: #147df0;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#77e5eb;
$sidebarTopEndBgColor:#1165c2;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#147df0;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#ffaa00;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#ffffff;
$horizontalLayoutTopbarTextHoverColor:#B0F1F5;

@import '../../sass/layout/_layout';
