$primaryColor: #5F2C82;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#5f2c82;
$sidebarTopEndBgColor:#49a09d;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#714490;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#B6C140;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#F2E5FB;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
