$primaryColor: #E94057;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#F27121;
$sidebarTopEndBgColor:#E94057;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#E94057;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#36A4CC;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#EDD5D8;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
