$primaryColor: #56AB2F;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#a8e063;
$sidebarTopEndBgColor:#56ab2f;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#56ab2f;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#8863C8;
$menuitemBadgeTextColor:#ffffff;
$horizontalLayoutTopbarTextColor:#ffffff;
$horizontalLayoutTopbarTextHoverColor:#E3ECD9;

@import '../../sass/layout/_layout';
