$primaryColor: #e96443;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#e96443;
$sidebarTopEndBgColor:#904e95;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#e96443;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#06BAD2;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#F5D8D0;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
