$primaryColor: #96C93D;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#00b09b;
$sidebarTopEndBgColor:#96c93d;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#96c93d;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#FF8853;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#EAF3DB;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
