$primaryColor: #d9427c;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#da4453;
$sidebarTopEndBgColor:#89216b;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#d54254;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#22b165;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#dbbcd2;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
