$primaryColor: #57CA85;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#184e68;
$sidebarTopEndBgColor:#57ca85;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#57ca85;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#E0608A;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#CDEAD8;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
