$primaryColor: #4B79A1;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor:#4B79A1;
$sidebarTopEndBgColor:#283E51;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#4B79A1;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#c379b6;
$menuitemBadgeTextColor:#ffffff;
$horizontalLayoutTopbarTextColor:#DEE8F0;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';
