<div style="padding: 0 0 0 0rem">
  <p-table
    #table
    dataKey="id"
    [lazy]="true"
    [rowHover]="true"
    [filterDelay]="0"
    [responsive]="true"
    [value]="resources"
    [loading]="loading"
    sortMode="multiple"
    selectionMode="multiple"
    [(first)]="firstRecords"
    [metaKeySelection]="true"
    [rows]="itemsPerPageDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    (onRowSelect)="onRowSelect($event)"
    [exportHeader]="'customExportHeader'"
    [(selection)]="selectionMultipleTable"
    (onRowUnselect)="onRowUnselect($event)"
    (onLazyLoad)="whenSwitchingPage($event)"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [paginator]="totalRecords > 0 ? true : false"
    [currentPageReportTemplate]="currentPageReportTemplate()"
    styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          pRipple
          type="button"
          label="Inserir"
          (click)="openNew()"
          icon="pi pi-plus-circle"
          [disabled]="!auth.hasAnyPermission([wsPermissions.ROLE_CANCELLATION_REASON_CREATE])"
        ></button>

        <span class="p-input-icon-left ml-auto">
          <button
            pButton
            pRipple
            type="button"
            pTooltip="XLS"
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            tooltipPosition="bottom"
            class="p-button-success mr-2"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            pTooltip="PDF"
            icon="pi pi-file-pdf"
            (click)="exportPdf()"
            tooltipPosition="bottom"
            class="p-button-warning mr-2"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-filter"
            tooltipPosition="bottom"
            pTooltip="Selection Only"
            class="p-button-info ml-auto mr-8"
            (click)="exportExcelSelectionOnly()"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            label="Clear"
            (click)="clear(table)"
            icon="pi pi-filter-slash"
            class="p-button-outlined ml-auto"
          ></button>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          <div class="flex p-jc-between p-ai-center">
            Nome
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter
              field="name"
              type="text"
              display="menu"
              class="ml-auto"
              matchMode="contains"
              [useGrouping]="false"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="description">
          <div class="flex p-jc-between p-ai-center">
            Descrição
            <p-sortIcon field="description"></p-sortIcon>
            <p-columnFilter
              type="text"
              display="menu"
              class="ml-auto"
              field="description"
              matchMode="contains"
              [useGrouping]="false"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="status" style="width: 10rem">
          <div class="flex p-jc-between p-ai-center">
            Status
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter
              display="menu"
              matchMode="in"
              field="status"
              class="ml-auto"
              [showOperator]="false"
              [showAddButton]="false"
              [showMatchModes]="false"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect placeholder="Todos" [options]="statusEnum" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <span
                      [class]="'customer-badge status-' + hasClassStyle.status(keyValueStatus.getValue(option.value))"
                    >
                      {{ option.label }}
                    </span>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="createdAt" style="width: 11rem">
          <div class="flex p-jc-between p-ai-center">
            Cadastro
            <p-sortIcon field="createdAt"></p-sortIcon>
            <p-columnFilter
              type="date"
              display="menu"
              class="ml-auto"
              field="createdAt"
              matchMode="contains"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>

        <th style="width: 4.5rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-entry>
      <tr [pSelectableRow]="entry">
        <td class="p-ellipsis">{{ entry.name }}</td>
        <td class="p-ellipsis">{{ entry.description }}</td>

        <td style="text-align: center">
          <span [class]="'customer-badge status-' + hasClassStyle.equipment(entry.status)">{{
            setDescription.equipment(entry.status)
          }}</span>
        </td>

        <td>{{ entry.createdAt | date : 'dd/MM/yyyy hh:mm:ss' }}</td>

        <td class="text-center">
          <a
            pTooltip="Editar"
            tooltipPosition="top"
            style="padding: 0 0 0 0.5rem"
            (click)="editResource(entry)"
            [class]="disabledEdit(entry) ? 'p-disabled' : ''"
          >
            <i class="pi true-icon pi-user-edit"></i>
          </a>

          <a
            pTooltip="Excluir"
            tooltipPosition="top"
            style="padding: 0 0 0 0.5rem"
            (click)="deleteResource(entry.id)"
            [class]="
              entry.generation === wsConsts.SYSTEM_GENERATION ||
              !this.auth.hasAnyPermission([wsPermissions.ROLE_CANCELLATION_REASON_DELETE])
                ? 'p-disabled'
                : ''
            "
          >
            <i class="pi false-icon pi-times-circle"></i>
          </a>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10">Não há dados para ser exibido!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
